body {
	margin: 0;
	padding: 0;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
	background-color: #ffffff;
}

@font-face {
	font-family: 'PT Sans';
	src: url('../fonts/ptsans.woff2') format('woff2'),
			url('../fonts/ptsans.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PT Sans';
	src: url('../fonts/ptsansbold.woff2') format('woff2'),
			url('../fonts/ptsansbold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

.width-limit {
	display: block;
	margin: 0 auto;
	width: 1200px;
	box-shadow: 0 5px 15px 0 rgba(59, 61, 61, 0.2);
}

.footer-main a,
.hotel-buttons a {
	text-decoration: none;
	color: #ffffff;
}

.page-header {
	color: #000000;
}

.main-navigation {
	position: relative;
	background-color: #ffffff;
	color: #000000;
	font-size: 14px;
	line-height: 25px;
}

.main-navigation ul {
	padding-left: 73px;
	padding-right: 73px;
}

.site-navigation {
	display: flex;
	padding-top: 15px;
	margin: 0px;
	padding-bottom: 15px;
	list-style: none;  
	justify-content: space-around;
	/* margin-bottom: -7px; */
}

.site-navigation li:nth-child(1) {
	width: 210px;
	text-align: left;
}

.site-navigation li:nth-child(2) {
	margin-right: auto;
	padding-left: 30px;
	width: 210px;
	text-align: left;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
	width: 210px;
	text-align: right;
}

.site-navigation li:nth-child(3) {
	padding-right: 35px;
}

.site-navigation li:nth-child(4) {
	margin-right: -2px;
}

.site-navigation a {
	color:#000000;
	text-decoration: none;
}

.site-navigation a:hover {
	color: #81b3d2;
}

.site-navigation a:focus {
	color: #b2b2b2;
}

.logo {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%);
}

/* контент */
.feature {
	display:inline-block;
	width: 1200px;
	padding-top: 579px;
	background-image: url('../img/background.jpg');
	background-color: #dbeef7;
	background-position: top;
	background-repeat: no-repeat;
	background-size: 1200px auto;
	margin-bottom: 25px;
	text-align: center;
	vertical-align: middle;
}

.feature p {
	font-weight: normal;
	color: #333333;
}

.feature h3 {
	display: inline-block;
	text-align: center;
	margin-top: -11px;
	margin-bottom: 13px;
	width: 520px;
	font-size: 21px;
	line-height: 27px;
}

.feature-list {
	display: flex;
	width: 1200px;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	padding-inline-start: 0;
	padding: 0;
}

.feature-list img {
	margin: 0;
	padding: 0;
	width: 800px;
}

.feature-list ul {
	list-style: none;
}

.feature-list li {
	margin-left: 0px;
	margin-right: 0px;
}

.feature-block {
	display: flex;
	flex-direction: row;
	width: 1200px;
}

.feature-list-last {
	display: flex;
	flex-direction: column;
	width: 400px;
	text-align: center;
	min-height: 256px;
	background-color: #eeeeee;
}

.feature-list-last h3 {
	display: inline-block;
	align-self: center;
	text-align: center;
	margin-top: 47px;
	width: 120px;
	vertical-align: middle;
}

.feature-list-last p {
	display: inline-block;
	align-self: center;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 23px;
	max-width: 265px;
	line-height: 21px;
	vertical-align: middle;
	color: #333333;
	font-weight: normal;
}

.feature-list-last:nth-of-type(3) p {
	max-width: 240px;
}

.feature-list-last:nth-of-type(5) p {
	max-width: 250px;
}

.feature-city {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width:1200px;
	margin:0;
	padding: 0;
}

.feature-city li {
	margin-top: 60px;
	padding-top: 75px;
}

.feature-city li:nth-child(1) {
	background: url('../img/icon-1.svg') no-repeat;
	background-position: top center;
}

.feature-city li:nth-child(2) {
	background: url('../img/icon-3.svg') no-repeat;
	background-position: top center;
}

.feature-city li:nth-child(3) {
	background: url('../img/icon-2.svg') no-repeat;
	background-position: top center;
}

.feature-note {
	display: inline-block;
	width: 400px;
	margin: 0;
	align-items: center;
	text-align: center;
	background-color: #81b3d2;
	color: #ffffff;
	min-height: 256px;
	vertical-align: middle;
}

.feature-note h3 {
	display: inline-block;
	font-size: 21px;
	width: 200px;
	line-height: 29px;
	margin-top: 46px;
	margin-bottom: 22px;
	vertical-align: middle;
}

.feature-note p {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 21px;
	width: 280px;
	align-self: center;
	font-weight: 400;
	line-height: 21px;
	vertical-align: middle;
}

.feature-note:nth-child(2) p {
	width: 320px;
}

.feature-list h3 {
	font-size: 21px;
	line-height: 21px;
	margin-bottom: 24px;
}

.interest-item {
	display: flex;
	flex-direction: column;
	width: 400px;
	min-height: 194px;
	text-align: center;
}

.interest-item h3 {
	display: inline-block;
	align-self: center;
	text-align: center;
	width: 170px;
	margin-bottom: 10px;
	margin-top: 26px;
	vertical-align: middle;
}

.interest-item p {
	display: inline-block;
	align-self: center;
	width: 265px;
	font-weight: normal;
	line-height: 21px;
	vertical-align: middle;
	color: #333333;
}

.interest-item:nth-child(2) p,
.interest-item:nth-child(3) p {
	display: inline-block;
	width: 285px;
	vertical-align: middle;
}

.advertisment {
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	margin-bottom: 35px;
}

.advertisment p {
	font-weight: normal;
	color: #333333;
}

.advertisment h3 {
	text-align: center;
	margin-top: 59px;
	margin-bottom: 30px;
	font-size: 30px;
	line-height: 22px;
}

.map-container {
	position: relative;
	margin-top: 132px;
	z-index: -100;
}

/* Свойства формы */

.date-form {
	position: relative; /*смена точки отсчета для начала координат контейнера формы*/
}

.form-container {
	position: absolute;
	left: 316px;
	bottom: -572px;
	width: 568px;
	margin: 0 auto;
}

.form-container a {
	text-decoration: none;
}

.date-form {
	position: relative;
}

.form-name {
	display:block;
	background-color: #766357;
	color: #ffffff;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.form-name:hover {
	background-color: #604e43;
}

.form-name:active {
	color: #857871;
	background-color: #503e33;
}

.form-menu {
	/* display: none; */
	background-color: #ffffff;
	position: relative;
	padding: 55px;
	margin-bottom: 78px;
	box-shadow: 0 5px 15px 0 rgba(59, 61, 61, 0.2);
}

.form-menu button {
	border: 0;
	padding: 0;
	margin: 0;
	outline: none;
	text-transform: uppercase;
}

.date-pick {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 26px;
}

.date-pick:nth-of-type(2) {
	margin-bottom: 30px;
}

.date-pick input{
	width: 335px;
	margin-left: 8px;
	height: 38px;
	padding-left: 13px;
	background-color: #f2f2f2;
	border:none;
	color: #000000;
	font-weight: bold;
	box-shadow: 0;
	text-transform: uppercase;
	outline: none;
}

.date-pick input:hover{
	background-color: #ebebeb;
}

.date-pick input:focus{
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
	outline: none;
}

input[type='text']::-webkit-input-placeholder {
	color: #000000;
	font-weight: bold;
	text-transform: uppercase;
} 

input[type='text']::-moz-placeholder {
	color: #000000;
	font-weight: bold;
	text-transform: uppercase;
}

input[type='text']:-ms-input-placeholder {
	color: #000000;
	font-weight: bold;
	text-transform: uppercase;
}

input[type='text']::-ms-input-placeholder {
	color: #000000;
	font-weight: bold;
	text-transform: uppercase;
}

input[type='text']::placeholder {
	color: #000000;
	font-weight: bold;
	text-transform: uppercase;
}

.date-pick-item {
	position: relative;
	margin-top: auto;
	margin-bottom: auto;
}

.calendar-icon {
	display: block;
	position: absolute;
	fill: #cacaca;
	top: 10px;
	right: 10px;
	width: 21px;
	height: 22px;
	border:none;
	box-shadow: 0;
	background-color: transparent;
}

.calendar-icon:hover {
	fill: #000000;
}

.calendar-icon:active {
	fill: #81b3d2;
}

.person-counter {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 53px;
}

.counter-wrap {
	display: flex;
	justify-content: space-between;
	width: 226px;
	box-sizing: border-box;
	align-self: center;
}

.counter {
	display: flex;
	width: 114px;
	height: 38px;
}

.counter-field {
	display: inline-block;
	width: 40px;
	background-color: #f2f2f2;
	text-align: center;
	border:none;
	box-shadow: 0;
	color: #000000;
	font-weight: bold;
	vertical-align: middle;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
} 

input[type='number'] {
	-moz-appearance: textfield;
}

.minus {
	display: flex;
	/* margin: auto; */
	align-items: center;
	justify-content: center;
	width: 37px;
	background-color: #f2f2f2;
	color: #a9a9a9;
}

.plus {
	display: flex;
	/* margin: auto; */
	align-items: center;
	justify-content: center;
	width: 37px;
	background-color: #f2f2f2;
	color: #a9a9a9;
}

.minus:hover,
.plus:hover {
	color: #000000;
}

.minus:active,
.plus:active {
	color: #81b3d2;  
}

.adults,
.kids {
	display: inline-block;
	line-height: 38px;
	height: 38px;
}

.kids {
	padding-left: 45px;
}

.form-search {
	display:block;
	background-color: #81b3d2;
	color: #ffffff;
	font-size: 21px;
	line-height: 26px;
	width: 458px;
	min-height: 60px;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	box-shadow: none;
}

.form-search:hover {
	background-color: #669ec0;
}


.form-search:active {
	color: #94b9d2;
}


/* Стили сортировки hotels.html */
.filter {
	display: flex;
	flex-direction: row;
	padding: 27px 73px 15px;
	background: url('../img/hotel_background.jpg') no-repeat;
	background-color: #dbeef7;
	color: #ffffff;
	justify-content: space-between;
}

.filter-column {
	display: flex;
	flex-direction: column;
	padding-right: 55px;
	width: 200px;
}

.filter-column input {
	-webkit-appearance: none;
	-moz-appearance: none;
	position: absolute;
}

.filter-column input::-ms-check {
	display:none
} /* Скрыть чекбокс в IE */

.filter-column input:checked + .check_box{
	background-image: url('../img/checkbox-on.svg');
}

.check_box {
	position: absolute;
	width: 27px;
	height: 27px;
	background-image: url('../img/checkbox-off.svg');
	background-repeat: no-repeat;
	background-color: inherit;
	margin-left: -40px;
}

.checkbox_text {
	font-weight: 400;
}

.filter h3 {
	margin-top: 0px;
	margin-bottom: 12px;
}

.filter-column label {
	padding: 9px 0 13px;
	margin-left: 40px;
	font-weight: 300px;
}

.cost-range {
	display: flex;
	width: 35   0px;
	flex-direction: column;
	margin-left: auto;
	width: 315px;
}

.cost-wrap {
	display: flex;
	position: relative;
	width: 100%;
	height: 32px;
	margin-bottom: 20px;
	margin-top: -5px;
	border: 2px solid #ffffff;
	border-radius: 2px;
	justify-content: space-around;
	align-self: center;
}

.cost-wrap::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2.5px;
	height: 22px;
	background: #ffffff;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.min-price {
	width: 90px;
	padding-left: 53px;
	padding-top: 4px;
}
.max-price {
	width: 90px;
	padding-left: 36px;
	padding-top: 4px;
}

.cost-wrap input {
	display: inline-block;
	width: 50px;
	margin: 0;
	color: inherit;
	font: inherit;
	background: transparent;
	border: none;
	outline: #ffffff;
	align-self: center;
	font-weight: 400;
	vertical-align: middle;
}

.slider-wrap {
	position: relative;
	margin-bottom: 33px;
}

.slider {
	width: 100%;
	height: 2px;
	background: rgba(255,255,255,.3);
}

.slider-bar {
	width: 80%;
	height: 2px;
	background: rgba(255,255,255);
}

.slider-left {
	position: absolute;
	left: 0;
	top: -8px;
	width: 4px;
	height: 4px;
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
}

.slider-left:hover {
	border: 9px solid #ffffff;
	top: -9px;
}

.slider-right {
	position: absolute;
	left: 80%;
	top: -8px;
	width: 4px;
	height: 4px;
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
}

.slider-right:hover {
	border: 9px solid #ffffff;
	top: -9px;
}

.filter-btn {
	display: block;
	width: 135px;
	height: 34px;
	padding: 7px 28px;
	font-size: 14px;
	text-decoration: none;
	color: #ffffff;
	background: transparent;
	cursor: pointer;
	text-transform: uppercase;
	border: 2px solid #ffffff;
	border-radius: 2px;
	outline: 0;
	align-self: center;
	margin-right: 10px;
}

.filter-btn:hover {
	background-color: #ffffff;
	color: #000000;
}

.results {
	display: flex;
	flex-direction: row;
	padding: 10px 72px 11px;
	justify-content: space-between;
	border-bottom: solid 1px #bdbbbc;
}

.results-found {
	padding-right: 45px;
	font-size: 21px;
	line-height: 26px;
}

.results-categories,
.results-sorting {
	display: flex;
	width: 355px;
	flex-direction: row;
	align-items: center;
	align-self: center;
	justify-content: space-between;
	font-size: 12px;
	line-height: 18px;
	margin-bottom: -4px;
}

.results-sorting a {
	color: rgba(0,0,0,0.3);
	border-bottom: 1px dotted #81b3d2;
	text-decoration: none;
}

.results-sorting a:hover {
	color: #81b3d2;
	border-bottom: 1px dotted #81b3d2;
	text-decoration: none;
}

.results-sorting a:active {
	color: #000000;
	border: none;
	text-decoration: none;
}

.results-sorting a:focus {
	color: #b3d1e4;
	border: none;
	text-decoration: none;
}

.results-categories h3 {
	padding-right: 40px;
	font-size: 12px;
	font-weight: normal;
	padding-left: 2px;
	padding-top: 4px;
}

.results-order {
	display: flex;
	height: 15px;
	width: 36px;
	align-self: center;
	margin-left: auto;
}

.sort-up path {
	fill: #cacaca;
}

.sort-up {
	padding-right: 14px;
}

.sort-down path{
	fill: #cacaca;
}

.sort-up:hover path,
.sort-down:hover path{
	fill: #000000;
}

.sort-up:active path,
.sort-down:active path {
	fill: #81b3d2;
}

/* Hotels info styles */
.wrap-hotel {
	display: flex;
	flex-direction: row;
	padding: 30px 73px 23px;
	border-bottom: solid 1px #bdbbbc;
}

.wrap-hotel h2 {
	margin-top: 0;
	margin-bottom: 5px;
}

.hotel-summary {
	display: flex;
	flex-direction: column;
	margin-top: -4px;
	padding-left: 30px;
	justify-content: flex-start;
}

.hotel-name {
	text-decoration: none;
	color: #000000;
	font-weight: bold;
}

.hotel-name:hover {
	color: #81b3d2;
}

.hotel-name:active {
	color: #b2b2b2;
}

.hotel-status {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.hotel-stars{
	display: block;
	text-align: right;
	position: relative;
	margin-top: -2px;
}

.hotel-star-2 {
	display: inline-block;
	font-size: 0;
	width: 40px;
	height: 17px;
	background: url('../img/star.svg');
	background-repeat: space;
	vertical-align: middle;
}

.hotel-star-3 {
	display: inline-block;
	font-size: 0;
	width: 65px;
	height: 17px;
	background: url('../img/star.svg');
	background-repeat: space;
	vertical-align: middle;
}

.hotel-star-4 {
	display: inline-block;
	font-size: 0;
	width: 88px;
	height: 17px;
	background: url('../img/star.svg');
	background-repeat: space;
	vertical-align: middle;
}

.hotel-status span {
	width: 100px;
	padding-right: 15px;
	padding-bottom: 13px;
	color: #333333;
	font-weight: normal;
}

.hotel-buttons {
	display: flex;
	flex-direction: row;
}

.hotel-details a {
	display:block;
	background-color: #81b3d2;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	padding: 2px 16px 1px;
	margin-left: 0px;
	margin-right: 5px;
}

.hotel-details a:hover {
	background-color: #669ec0;
}

.hotel-details a:active {
	background-color: #5496bd;
	color: #88b6d1;
}

.hotel-book a {
	display: block;
	background-color: #766357;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	padding: 2px 18px 1px;
	margin-left: 0px;
	margin-right: 5px;
}

.hotel-book a:hover {
	background-color: #604e43;
}

.hotel-book a:active {
	background-color: #503e33;
	color: #857871;
}

.hotel-rating {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: auto;
}

.rating-numeric {
	background-color: #dfdddd;
	color: #666666;
	font-weight: normal;
	text-align: center;
	padding: 2px 13px 3px;
	margin-bottom: 7px;
}

/* Свойства подвала */
.footer-main {
	display: flex;
	width:100%;
	min-height: 128px;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.7);
	text-align: center;
	margin-top: -128px;
}

.footer-main-hotels {
	display: flex;
	width:100%;
	min-height: 120px;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.7);
	text-align: center;
}

.footer-main a,
.footer-main-hotels a {
	color: #000000;
	text-decoration: none;
}

.footer-hashtag {
	width: 400px;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	justify-content: flex-start;
	text-decoration: none;
	margin-top: -7px;
	margin-left: 8px;
}

.footer-media {
	width: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 4px;
	margin-bottom: 16px;
}

.footer-icon {
	background-color: #81b3d2;
	position: relative;
	top: 50%;
	left: 50%;
	align-items: center;
	transform: translate(-50%, -50%)
}

.footer-icon-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 47px;
	height: 47px;
	margin-right: 5px;
	background-color: #81b3d2;
	transform: translate(-33%);
}

.footer-icon-wrap:hover,
.footer-icon-wrap:focus {
	background-color: #669ec0;
}

.footer-icon-wrap:active path {
	background-color: #5496bd;
}

.icon-button {
	transform: translateY(3px);
}

.icon-button:active path {
	fill: #88b6d1;
}

.footer-logo {
	width: 400px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-right: 8px;
	margin-bottom: 4px;
}

.footer-logo svg {
	display: block;
	margin-left: 5px;
}

/* .footer-logo p {
	font-size: 8;
} */

.svg_academy {
	width:120px;
}

.footer-logo:hover path {
	fill: #81b3d2;
}


.footer-logo:active path {
	fill: #bdbbbc;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}