body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    background-color: #ffffff;
}

a {
    text-decoration: none;
  }

.page-header{
    color: #000000;
}
.main-navigation {
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    line-height: 25px;
    padding-left: 50px;
    padding-right: 30px;
}

.site-navigation {
    padding-top: 20px;
    margin-top: 0px;
    padding-bottom: 15px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.site-navigation a {
    color:#000000;
    margin-left: -69px;
}

.site-navigation a:hover,
.site-navigation a:focus {
    justify-content: space-between;
    background-color:#52a0e0;
}

.logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

.feature{
    display:flex;
    flex-direction: column; 
    height: 1400px; /*вот задан контейнер flex, а далее смотрим на строки 73-74  */
    background-image: url("../img/background.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
}

.feature h3{
    font-size: 30px;
    line-height: 42px;    
}

.feature h3, /* А дальше надпись не опускается ниже. Даже если занулить все нижние отступы или увеличть высоту флексбокса. */
.feature p{
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.feature-list {
    list-style: none;
}

.feature-list h3{
    font-size: 30px;
    line-height: 42px;    
}

.advertisment {
    font-size: 30px;
    line-height: 42px;
    text-align: center;
}

.advertisment h3{
    text-align: center;
}

.footer-main{
    position: absolute;
    display: flex;
    width:100%;
    min-height: 120px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color:white;
    text-align: center;
}

.footer-main a{
    color:black;
}

.footer-hashtag {
    width: 400px;
    font-size: 30px;
    line-height: 26px;
    font-weight: bold;
    justify-content: flex-start;
}

.footer-media{
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icon {
    background-color: #81b3d2;
    position: relative;
    top: 50%;
    left: 50%;
    align-items: center;
    transform: translate(-50%, -50%)
}

.footer-icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background-color: #81b3d2; 
}

.footer-icon-wrap:hover,
.footer-icon-wrap:focus{
    background-color: #669ec0;
}

.footer-icon-wrap:active path{
    background-color: #5496bd;
}

.icon-button svg:active {
	fill: #88b6d1;
} /*Не работает, надо спросить*/

.footer-logo{
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-logo svg{
    display: block;
    margin-left: 5px;
}

.footer-logo svg:hover{
    background-color: #81b3d2;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }